* {
    margin: 0;
    padding: 0;
}

.page-row {
    margin-top: 20px;
}

.vs-input{
    width: 100%;
}
.button-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}